---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nadia Lara">
  <div class="w-3/4 mx-auto flex relative pt-6">
    <div class="flex-1 flex flex-col items-end justify-between gap-4 h-full ">
      <img src="cv.png" alt="CV" class="w-40" />
      <img src="baner.png" alt="baner" class="flex-1" />
    </div>
    <div class="flex-1 flex flex-col gap-4 h-full px-4">
      <div class="flex items-start justify-between gap-2">
        <div class="flex-1 flex flex-col gap-2 justify-center h-full">
          <div class="text-4xl font-bold text-primary text-purple-500">
            Nadia Lara
          </div>
          <div class="flex flex-col gap-0">
            <div class="text-sm text-gray-400">Casada/Argentina</div>
            <div class="text-sm text-gray-400">El Duraznero 16</div>
            <div class="text-sm text-gray-400">Los Perales</div>
            <div class="text-sm text-gray-400">nadialara@gmail.com</div>
            <div class="text-sm text-gray-400">nadialara.com.ar</div>
            <div class="text-sm text-gray-400">543885125746</div>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <div class="text-lg font-bold text-gray-900 mb-4">
          Perfil Profesional
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Conocimientos en:
          </div>
          Adobe Css, Photoshop, Corel Draw 14, Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Quam, maiores.
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Plataformas:
          </div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque magnam
          ipsa placeat in saepe ad nisi voluptatibus quod id tenetur, rem, omnis
          maxime iure optio non beatae sapiente provident distinctio.
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Idiomas:
          </div>
          Espaniol, Ingles, Aleman
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Area de Desempenio:
          </div>
          Arte Conceptual, ilustracion tradicional y digital, Lorem, ipsum dolor
          sit amet consectetur adipisicing elit. Iusto.
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Aptitudes:
          </div>
          Creativa, siempre tomando la iniciativa, con conceptos artisticos e inovadores
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <div class="text-lg font-bold text-gray-900 mb-4">Formacion</div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            2008/2010:
          </div>
          Licenciatura en artes plasticas
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            2009:
          </div>
          Curso intensivo de relatos de terror, Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <div class="text-lg font-bold text-gray-900 mb-4">
          Experiencia Profesional
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Expositora y colaboradora:
          </div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eligendi
          aliquam voluptate?
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Dibujante y Colaborador:
          </div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat iste beatae
          quos expedita facere deserunt voluptates tempora repellendus harum eos!
        </div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Colaborador:
          </div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, minus molestiae.
          Exercitationem aperiam doloremque delectus in, autem ea voluptatem dignissimos.
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <div class="text-lg font-bold text-gray-900 mb-4">Datos de Interes</div>
        <div class="text-gray-400 text-sm">
          <div class="text-purple-600 text-sm font-bold inline-block">
            Gustos e Intereses:
          </div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde ratione
          consequatur harum! Id eum, error, cumque tempora voluptatibus voluptas
          asperiores in eos aut, velit harum illum dolores nulla eius sapiente?
        </div>
      </div>
    </div>
  </div>
</Layout>
<style>

</style>
